@use "../../healpers" as *;

/* ===  Buttons styles === */

.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button {
  @include reset-button;
  @include fluid-text(20, 16);

  font-family: var(--font-family);
  padding-block: rem(15);
  padding-inline: fluid(40, 30);
  letter-spacing: 0.07em;
  font-weight: 600;
  background-image: var(--accent-grad);
  color: var(--color-gray-light);
  text-shadow: var(--links-text-shadow);
  border-radius: var(--border-radius);
  will-change: transform;
  box-shadow: var(--box-shadow-light);
  transition-duration: var(--transition-duration) !important;

  &--accent {
    background:
      radial-gradient(
        ellipse at 82% 42%,
        #9b7954 0%,
        rgba(226, 182, 135, 0) 55%
      ),
      radial-gradient(ellipse at 3% 3%, #2b1603 0%, rgba(43, 22, 3, 0) 45%),
      radial-gradient(ellipse at 8% 60%, #663806 0%, rgba(102, 56, 6, 0) 50%),
      linear-gradient(
        135deg,
        #3a2004 0%,
        #8d5816 45%,
        #b58243 65%,
        #a4825e 85%,
        #9b6529 100%
      );
  }

  &:disabled {
    pointer-events: none;
    background: var(--color-gray);
  }

  @include hover {
    filter: brightness(80%);
  }

  @include speciall-active {
    scale: 0.97;
    filter: brightness(60%);
  }
}
