@use "../healpers" as *;

/* ==== Block callback-oreder(dialog-content) ==== */
.callback-order {
  @include flex-center;

  max-width: fluid(550, 300);
  width: 100%;
  gap: fluid(24, 10);
  color: var(--color-dark);

  padding: rem(20);
  border-radius: var(--border-radius-medium);

  &__image {
    width: 100%;
    min-height: rem(700);
    object-fit: cover;
    border-radius: inherit;

    &-wrapper {
      position: absolute;
      max-width: inherit;
      width: inherit;
      border-radius: rem(40);
      filter: brightness(70%) sepia(0.4);
    }
  }

  &__action {
    position: relative;
    z-index: 2;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@include tablet-media {
  .callback-order {
    flex-direction: column-reverse;
    text-align: center;
    &__image {
      min-height: rem(450);
    }
  }
}

@include mobile-s-media {
  .callback-order {
    &__action {
      padding-top: rem(20);
    }
  }
}
/* ==================================== */
/* ==== END  Block callback-oreder ==== */
/* ==================================== */
