@use "../healpers" as *;

/* ==== Block confirm-submit(dialog-content) ==== */

.confirm-submit {
  @include flex-center;

  gap: fluid(24, 10);
  color: var(--color-gray-light);

  &__title {
    line-height: 1.3;
    margin-bottom: fluid(40, 20);
    color: var(--color-accent);
    text-shadow: var(--accent-text-shadow-light);

    &--fail {
      color: var(--color-accent-third);
      text-shadow: var(--accent-text-shadow);
      line-height: 1.6;
    }
  }

  &__text {
    line-height: 1.5;
    margin-bottom: fluid(40, 20);
  }

  &__image {
    width: inherit;
    height: inherit;
    flex-shrink: 0;

    &-wrapper {
      width: rem(450);
      height: rem(400);
    }
  }
}

@include tablet-media {
  .confirm-submit {
    flex-direction: column-reverse;
    text-align: center;

    &__title {
      line-height: 1.2;
    }

    &__image-wrapper {
      width: rem(337);
      height: rem(300);
    }
  }
}

/* =================================== */
/* ==== END  Block confirm-submit ==== */
/* =================================== */
