@use "../healpers" as *;
/* ==== Block footer ==== */
.footer {
  padding-block: fluid(50, 20);
  position: relative;
  overflow: clip;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  box-shadow: var(--box-shadow-dark-blur);

  .container {
    @include flex-center;
    position: relative;
    flex-direction: column;
    gap: rem(40);
  }

  &__logo {
    display: inline-block;
    margin-inline: auto;

    img {
      width: rem(127);
      height: rem(100);
    }
  }

  &__slogan {
    color: var(--color-accent);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-shadow: var(--accent-text-shadow);
    line-height: 1.4;
    text-align: center;
  }

  &__connect-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);

    time {
      color: var(--color-accent);
    }

    li svg {
      fill: var(--color-gray-light);
    }
  }

  &__copyright {
    @include fluid-text(24, 14);

    text-align: center;
  }
}
@include desktop-media {
  .footer {
    .parallax-bg--secondary {
      --parallax-shift: 20%;

      background-size: 100% 100% !important;
    }
  }
}
@include tablet-media {
  .footer {
    &__connect-list {
      flex-direction: column;
      align-items: start;
    }
  }
}

@include mobile-s-media {
  .footer {
    &__connect-list {
      li {
        svg {
          width: rem(30);
          height: rem(30);
        }
      }
    }
  }
}
/* ============================ */
/* ==== END  Block footer  ==== */
/* ============================ */
